*{
  margin: 0;
  padding: 0;
}

.modify-carousel .carousel-item img {

  width: 100%;
  height: calc(100vh - 60px);
  object-fit: cover;

}


.navbar-brand-modify {

 width: 100px;
 margin-right: 64px;

}

header .modify-navbar {

  padding: 16px 32px;

}

header {

  position: sticky;
  top: 0;
  z-index: 100;

}


.d-flex .btn-primary-modify {

  background-color: #0C67B1;
  padding: 4px 32px;
  width: 150px;
  font-size: 14px;
  border-radius: 5px;
  align-items: center;
  transition: 0.5S;
  border: none;

}

.d-flex .btn-primary-modify:hover{

  background-color: #DB3D34;
  transform: scale(1.1);

}

.navbar-nav-modify .nav-item .nav-link {

  color: black;
  font-size: 18px;
  margin: 0 20px;
  transition: 0.5s;

}


.navbar-nav-modify .nav-item .nav-link:hover {

  color: #0C67B1;
  font-size: 18px;
  margin: 0 20px;

}

body .galeria {

  margin: 64px 0;

}

body .galeria h2 {

  font-size: 24px;
  text-align: center;
  margin: 32px 0;

}

.container-modify .card {

  margin-bottom: 32px;

}
