@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {

  scroll-behavior: smooth;

}

body {

  font-family: 'Roboto', sans-serif;;
  display: grid;
  grid-template-areas:
  'header header'
  'main main'
  'produto-1 produto-1'
  'produto-2 produto-2'
  'footer footer';

}


header {

  background-color: #FFFFFF;
  height: 60px;
  grid-area: header;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;

}

header img {

  width: 44px;
  height: 24px;


}

header nav ul  {

  display: flex;
  gap: 20px;
  list-style: none;

}

header nav ul li a  {

  font-size: 16px;
  text-decoration: none;
  color: #111111;
  transition: 0.5s;

}

header nav ul li a:hover  {

  color: #820AD1;

}

main {

  grid-area: main;
  height: calc(100vh - 60px)

}

main img {

  width: 100%;
  height: 100%


}

/* ************************************************* */

.produto-1 {

  grid-area: produto-1;
  display: flex;
  margin-top: 64px;

}

.produto-1 .produto-img {

  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;

}

.produto-1 .produto-info {

  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 64px;

}

.produto-info h1 {

  font-size: 40px;
  color: #820AD1;
  margin: 32px 0;

}

.produto-info p {

  color: #111111;
  font-size: 32px;


}

.produto-info a {

  text-decoration: none;
  font-size: 16px;
  margin: 32px 0;
  color: #820AD1;
  background-color: #810ad12f;
  width: 150px;
  border-radius: 16px;
  padding: 6px 12px;
  text-align: center;
  transition: 0.8s;

}

.produto-info a:hover {

  text-decoration: none;
  font-size: 16px;
  margin: 32px 0;
  color: #ffffff;
  background-color: #820AD1;
  width: 150px;
  border-radius: 16px;
  padding: 6px 12px;
  text-align: center;

}


/* *************************************************** */

.produto-2 {


  grid-area: produto-2;
  display: flex;
  flex-direction: row;
  margin: 64px 0;
  background-color: #F5F5F5;


}

.produto-2 .produto-img {


  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;

}

.produto-img img {

  width: 100%;

}

.produto-2 .produto-info {

  background-color: #F5F5F5;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 64px;


}


footer {

  background-color: #111111;
  grid-area: footer;
  height: 50px;

}

@media (max-width: 425px){


  body header {

    padding: 0 16px;

  }

  header nav ul li a  {

    font-size: 14px;

  }

  body .produto-1 {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px ;

  }

  body .produto-1 .produto-info {

    width: 100vw;
    padding: 0 64px;
  }

  .produto-1 .produto-info h1 {

    font-size: 32px;
    color: #820AD1;
    margin: 16px 0;

  }

  .produto-1 .produto-info p {

    font-size: 20px;
    color: #111111;
    margin: 0px 0;

  }

  body .produto-1 .produto-img {

    height: 100%;
    width: 70%;

  }

  body .produto-2 {

    flex-direction: column;
    align-items: center;
    padding: 32px 0;

  }

  body .produto-2 .produto-info {

    width: 100vw;
    padding: 0 64px;
  }

  .produto-2 .produto-info h1 {

    font-size: 32px;
    color: #820AD1;
    margin: 16px 0;

  }

  .produto-2 .produto-info p {

    font-size: 20px;
    color: #111111;
    margin: 0px 0;

  }

  body .produto-2 .produto-img {

    height: 100%;
    width: 70%;

  }


}
