/* Reset */

*{

    margin: 0;
    padding: 0;

}


/* Estilos gerais */
p {

    margin-top: 20px;

}


body {
    height: 2000px;
}

/* Box azul */

.box1 {

    width: 100px;
    height: 100px;
    background-color: rgb(90, 204, 224);
    position: absolute;
    
}

.box1-1 {

    width: 80px;
    height: 80px;
    background-color: orange;
    position: absolute;
    margin: 10px;
    text-align: center;
   
}


/* Box Roxo */

.box2 {

    width: 100px;
    height: 100px;
    background-color: rgb(133, 50, 211);
    position: absolute;
    right: 0;
    
}


.box2-1 {

    width: 80px;
    height: 80px;
    background-color: orange;
    position: absolute;
    margin: 10px;
    text-align: center;
   
}

/* Box Verde */
.box3 {

    width: 100px;
    height: 100px;
    background-color: rgb(63, 231, 72);
    position: fixed;
    bottom: 0;
    right: 50%;
    
}


.box3-1 {

    width: 80px;
    height: 80px;
    background-color: orange;
    position: absolute;
    margin: 10px;
    text-align: center;
   
}

